h1 {
  font-size: 5em;
}

.lakers h1 {
  color: #FDB927;
  text-shadow: 0 0 3vw #d580ff;
}

.lakers h2 {
  color: #FDB927;
  font-size: 2.5em;
  font-weight: bold;
}

.celtics h1 {
  color: #007A33;
  text-shadow: 0 0 3vw #BA9653;
}

.celtics h2 {
  color: #007A33;
  font-size: 2.5em;
  font-weight: bold;
}