.players-score-lakers {
  font-size: 1.7em;
  font-weight: bold;
  color: #d580ff
}

.players-score-celtics {
  font-size: 1.7em;
  font-weight: bold;
  color: #BA9653
}

.fa-arrow-up, .fa-arrow-down {
  font-size: 1.5em;
  margin: 3px;
  cursor: pointer;
  transition: all 0.3s
}

.fa-arrow-up:hover {
  animation-name: move-up;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  color: #8bc34a;
}

@keyframes move-up {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-3px);
  }
}
.fa-arrow-down:hover {
  animation-name: move-down;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  color: #f44336;
}
@keyframes move-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(3px);
  }
}